/* You can add global styles to this file, and also import other style files */
h3 {
    color: rgb(145, 11, 11);
    font-weight: bold;
}
 
.columnPan {
    height:5vh; 
    border-color: rgb(212, 97, 20); 
    border-style: solid;   
    text-align: center;
    vertical-align: bottom;
  
    color: lightyellow;
    background-color:lightsalmon;
}
h4{
    text-align: center;
    vertical-align: bottom;
    padding-top: 10px;
    
}

.commanborder{
    height: 90vh;
    border-color: indianred;
    border-style: solid;
}