<div class="container">
    <div class="row">
      <div class="col-md-12 columnPan">
          <app-common></app-common>
  
      </div>
    </div>
  
  </div>
    <div class="container">
      <div class="row">
  
        <div class="col-md-3 commanborder" >
          <app-left></app-left>
        </div>
        
        <div class="col-md-6 commanborder">
          <app-middel></app-middel>
        </div>
        
        <div class="col-md-3 commanborder">
          <app-right></app-right>
        </div>
  
      </div>
      
      
      
    </div>
